.env.sh
!data/
data/*
!data/ca_certs/
!data/etc/
data/etc/*
!data/etc/nginx/
data/etc/nginx/*
!data/etc/nginx/conf.d/
data/etc/nginx/conf.d/*
!data/etc/nginx/conf.d/default.conf.example
!data/etc/nginx/sites/
data/etc/nginx/sites/*
!data/etc/nginx/sites/site.conf.example